*.[oa]
*~
#*
Makefile.in
Makefile
Makefile.am.user
*.lo
.deps
.libs
*.la
missing
stamp-h1
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.cache
config.cache-env
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
massif.out.*
/config.h.in
emqtt_sn_sub
emqtt_sn_broker
emqtt.pc
compile
